/*Info
**Version: 1.0
**Author: Alex Markowitz
**Website: admarko.xyz
** Contact: admarko@gmail.com
*/

#logo{
  height: 50px;
}

.navbar{
   background: transparent;
   border-style: dotted;e
}

.navbar-header, .navbar-right > li > a{
  color: white;
  font-family: 'Robato', sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;

}

#headtext{
  margin-left: 10px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Robato', sans-serif;
}

#title{
  padding-top: 100px;
}

#title > h1, #title > h4{
  color: white;
  font-family: "Sans-serif";
}

#title > h1{
  font-weight: 900;
  font-size: 70px;
  letter-spacing: 1px;
  font-family: "Roboto";
}

body{
    text-align: center;
    color: black;
    background: url("images/homepage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.well{
  padding: -10px;
  
}

.well > ul{
  list-style: none;
  margin: 5px;
}
